:root {
	--primary: #6da4aa;
	--urgent: #ff8080;
	--normal: #7bd3ea;
	--important: #ffcf96;
	--dark: #647d87;
	--light: #d9edbf;
	--lightContrast: #fff;
	--darkContrast: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Salsa", cursive;
}

body {
	background: var(--light);
	color: var(--dark);
}

.greeting {
	background: var(--primary);
	padding: 20px;
	text-align: center;
}

.hello {
	font-size: 1em;
	color: var(--lightContrast);
}

#owner-name {
	margin: 10px;
	border: none;
	border-radius: 5px;
	width: 200px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.container {
	display: flex;
}

h1 {
	background: var(--normal);
	color: var(--lightContrast);
	padding: 10px;
	text-align: center;
}

.create-tasks {
	margin: 20px;
	min-width: 230px;
}

#tasks-form {
	background: var(--lightContrast);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
fieldset {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid var(--light);
	border-radius: 5px;
}

legend {
	font-weight: bold;
}

input[type="radio"] {
	margin: 4px 10px;
	float: left;
}

input[type="submit"] {
	background: var(--urgent);
	color: var(--lightContrast);
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.tasks-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px auto;
}

.task {
	background: var(--lightContrast);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 0 10px 20px;
	padding: 15px;
	width: 200px;
}

.task-status {
	text-align: center;
}

.task-done {
	margin-bottom: 10px;
}

.todo-content {
	margin-bottom: 10px;
}

.task-name {
	width: 100%;
	padding: 5px;
	border: 1px solid var(--light);
	border-radius: 5px;
}

.task-actions {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

button {
	background: var(--important);
	color: var(--lightContrast);
	padding: 8px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.task-priority {
	display: block;
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.p1 {
	background: var(--urgent);
	color: var(--lightContrast);
}

.p2 {
	background: var(--important);
	color: var(--lightContrast);
}

.p3 {
	background: var(--normal);
	color: var(--lightContrast);
}
